body{
  background-color: #e3f6f5;
}

#index-6{
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display:flex;
    padding: 10px;
    font-weight: bold;
}
#box{
    height: 250px;
    width: 250px;
    align-content: center;
    background-color:#ffe3ed;
    border-radius: 60px;
    color: black;
    background-image: linear-gradient(#8186d5,#beebe9);
    box-shadow: 5px 5px 5px 5px black;
}
#box a{
  color: black;
}
#box a:hover{
  color: blue;
}
#box:hover{
    background-image: linear-gradient(#f09595,#beebe9);
    border: 3px solid black;
    border-radius: 50px;
}
#p-box{
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
}
#p-box1{
    font-family: 'Bree Serif', serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 80px;
    text-align: center;
}



#jum1{
  background-image: linear-gradient(to right,#c299fc ,#beebe9);
  margin-top: 15px;
  margin-bottom: 0px;
  padding-bottom: 30px;
  padding-top: 30px;
}

#h2Abt{
  text-align: center;
  margin-bottom: 35px;
}
#pAbt {
  text-align: justify;
  justify-content: center;
  font-size: 25px;
}

#jum2{
  background-image: linear-gradient(to right,#c299fc ,#beebe9);
  margin-bottom: 0px;
}

#jum3{
  background-image: linear-gradient(to right,#c299fc ,#beebe9);
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 30px;
  padding-top: 30px;
}


#header2{
  text-align: center;
  margin: 0px;
  margin-bottom: 25px;
}
#conNav{
  background-color: #ffffff;
  border-radius: 15px;
}
html {
  scroll-behavior: smooth;
}
